[class$="-card-detail"] {
  padding: 1%;
  max-width: 165px;
  width: 33%;
  max-height: 203px;
  aspect-ratio: 0.73;
  border: 2px solid #00000050;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .3vh;
}
[class$="-card-detail"] .card-name {
  padding: 3px 0 1px 0;
  width: 100%;
  text-transform: capitalize;
  font-size: .7em;
  text-align: center;
  border: 2px solid #00000050;
  background-color: #303030bb;
  border-radius: 5px;
}
[class$="-card-detail"] .card-detail-header {
  padding: 2px;
  width: 100%;
  font-size: .6em;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00000050;
  border-radius: 5px;
}
[class$="-card-detail"] .card-detail-header .physical-attributes {
  display: flex;
  flex-direction: column;
}
[class$="-card-detail"] .card-detail-header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[class$="-card-detail"] .card-detail-header .types .type svg {
  width: 16px;
  height: 16px;
}
[class$="-card-detail"] img {
  background-size: cover;
  padding: 1.5%;
  width: 100%;
  aspect-ratio: 1/1;
  border: .15rem solid #00000050;
  border-radius: .35rem;
  background-color: #ffffff99;
}
[class$="-card-detail"] .card-detail-footer {
  padding: .2rem .35rem;
  width: 100%;
  font-size: x-small;
  background-color: #303030;
  border: .15rem solid #00000050;
  border-radius: .35rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}
[class$="-card-detail"] .card-detail-footer div{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: .5rem;
}

@media screen and (max-width: 400px) {
  [class$="-card-detail"] {
    min-width: 105px;
    width: 42vw;
  }
  [class$="-card-detail"] .card-name {
    font-size: .5em;
  }
  [class$="-card-detail"] .card-detail-header {
    font-size: .47em;
    display: flex;
    flex-direction: row;
  }
  [class$="-card-detail"] .physical-attributes {
    padding: 0 2px;
    width: 48%;
  }
  [class$="-card-detail"] .card-detail-header svg,
  [class$="-card-detail"] .card-detail-footer svg {
    width: 9px;
    height: 9px;
  }
  [class$="-card-detail"] .card-detail-footer {
    font-size: .47em;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  [class$="-card-detail"] .card-name {
    font-size: .5em;
  }
  [class$="-card-detail"] .card-detail-header {
    font-size: .47em;
    display: flex;
    flex-direction: row;
  }
  [class$="-card-detail"] .physical-attributes {
    padding: 0 2px;
    width: 48%;
  }
  [class$="-card-detail"] .card-detail-header svg,
  [class$="-card-detail"] .card-detail-footer svg {
    width: 9px;
    height: 9px;
  }
  [class$="-card-detail"] .card-detail-footer {
    font-size: .47em;
  }
}