@import url("./pokemon.css");
@import url("./reset.css");
@import url("./central-container.css");
@import url("./top-menu.css");
@import url("./homepage.css");
@import url("./get-card.css");
@import url("./select-card.css");
@import url("./search-duel.css");
@import url("./battle.css");
@import url("./detailed-card.css");
@import url("./card.css");
@import url("./result.css");
@import url("./ranking.css");

.container {
  height: 100vh;
  position: relative;
  z-index: 2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  position: relative;
}
.container.display-flex-row {
  flex-direction: row;
  justify-content: start;
}
.container.display-flex-col {
  flex-direction: column;
  justify-content: start;
}

.content.display-flex-col  {
  margin-top: 1vw;
  width: 98vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  overflow: hidden;
  z-index: 2;
}

.entry-area {
  padding: 2px 4px 3px 4px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.entry-area label {
  text-transform: uppercase;
}
.error-message {
  color: #ff000085;
}

input {
  padding: 4px 0 5px 0;
  width: 100%;
  text-align: center;
  font-size: medium;
  border-radius: 12px;
}
input[type="password"] {
  padding: 6px 0 3px 0;
  letter-spacing: 3px;
}

.button-area {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
button {
  padding: 4px 0 5px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #00000050;
  border-radius: 15px;
}
button:hover {
  outline-width: 1px;
  outline-style: solid;
}

.separator {
  width: 100%;
  height: 4px;
  background-color: #00000050; 
}

.fade {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000ca;
  z-index: 10;
}

svg {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 400px) {
  .entry-area {
    flex-direction: column;
    gap: 1vh;
  }
  .button-area {
    flex-direction: column;
    gap: 1vh;
  }
}
@media screen and (min-width: 400px) and (max-width: 800px) {
  .entry-area {
    flex-direction: column;
    gap: 1vh;
  }
}

.bg-video {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.bg-video video{
  height: 100vh;
}
.bg-video::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6), rgba(0,0,0,.8));
}

.container {
  position: relative;
  z-index: 1;
  color: #000;
  letter-spacing: .35rem;
  display: flex;
  align-items: center;
  gap: .2rem;
  background-image: url("../images/page-bg.jpg");
}
.container::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.55), rgba(0,0,0,.85));
}

.container-left {
  padding: 1rem .5rem .75rem .5rem;
  border-top-right-radius: .65rem;
  border-bottom-right-radius: .65rem;
  width: 35%;
  min-width: 10rem;
  max-width: 16rem;
  height: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.container-left .score-box {
  margin-bottom: 1.2rem;
  display: flex;
  gap: .5rem;
  align-items: last baseline;
  text-align: center;
}
.container-left .score-box span {
  width: 45%;
}
.select-attribute {
  padding: .5rem 1rem;
  width: 100%;
  background-color: #00224490;
  border: 2px solid #00000050;
  border-radius: .65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .3rem;
}
.select-attribute div {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.container-right {
  margin: 0 auto;
  padding: .3rem;
  width: 75%;
  height: 100%;
  border-radius: .65rem;
  background-color: #bbddff30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.defeated-card {
  background-image: url("../images/tcg-card-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
}
.continue-page {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: absolute;
  background-color: #00000090;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.continue-page div {
  width: 70%;
  padding: 4% 2% 2% 2%;
  border-radius: .35rem;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
[class$="-turn"] {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
[class$="-turn"] div {
  display: flex;
  align-items: center;
  justify-content: center;
}
[class$="-turn"] h3 {
  text-align: center;
  font-size: xx-small;
}
.your-turn div {
  padding: 2%;
  height: 49%;
  background-color: #00000030;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.enemy-turn div {
  padding: 2%;
  height: 49%;
  background-color: #00000030;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
[id$="-poke-attribute"] {
  width: 100%;
  height: 40%;
  background-color: #00000030;
  display: flex;
  align-items: center;
  justify-content: center;
}
#your-poke-attribute {
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#enemy-poke-attribute {
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


